<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">3D Printing Queue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>

<main role="main" class="container">

  <div class="content">
    <h1>Queue</h1>
    

    <div class="container queueTable">
        <div class="row header">
          <div class="col-2"></div>
          <div class="col-1">#</div>
          <div class="col-5">Name</div>
          <div class="col-2">Starts</div>
          <div class="col-2">Ends</div>
        </div>
        <div class="row item" *ngFor="let job of (jobList | async) | durationToTime; let i = index; last as isLast;">
            <div class="col-2">
              <div *ngIf="job.status == 1">
                <i title="Cancel Job" class="fas fa-ban cancel" (click)="cancelJob()"></i><span style="font-size:smaller"></span>
              </div>
              <div *ngIf="job.status == 0">
                  <i title="Move UP" class="fas fa-arrow-circle-up up" (click)="move(job, i-1)" [style.visibility] = "i == 1 ? 'hidden' : ''"></i>
                  <i title="Move DOWN" class="fas fa-arrow-circle-down down" (click)="move(job, i+1)" [style.visibility] = "isLast ? 'hidden' : ''"></i>
                  <i title="Delete Job" class="fas fa-minus-circle delete" (click)="deleteJob(job)"></i>
              </div>
              
            </div>
            <div class="col-1">{{i}}</div>
            <div class="col-5" style="text-align: left; padding-left:5%">
                    <i [ngClass]="job.status == 1 ? 'fas fa-print' : 'far fa-clock'"></i> 
                     {{job.name}}
            </div>
            <div class="col-2">{{job.startTime ? '@'+ (job.startTime | date:'short') : '-'}}</div>
            <div class="col-2">@{{job.endTime | date:'short' }}</div>
        </div>
        
        <div class="row item">
            <div class="col-2">New Job:</div>
            <div class="col-5"><input type="text" class="form-control" placeholder="Name" [(ngModel)]="newJob.name"></div>
            <div class="col-4"><input type="number" class="form-control" placeholder="Duration (minutes)" [(ngModel)]="newJob.duration"></div>
            <div class="col-1"><i class="fas fa-plus-circle" (click)="addJob()"></i></div>
        </div>
      </div>
 

  </div>

</main><!-- /.container -->

<router-outlet></router-outlet>
